<section class="widget profile">
    <div class="profile-avatar">
        <img src="/img/avatar.png" alt="Hazwle" />
    </div>
    <div class="profile-info">
        <h3 class="profile-name">Hazwle</h3>
        <p class="profile-bio">記錄生活中的每一個美好瞬間 </p>

        <div class="profile-tags">
            <i class="ti ti-camera"></i>
            <i class="ti ti-movie"></i>
            <i class="ti ti-pencil"></i>
            <i class="ti ti-device-gamepad"></i>
        </div>
        <a href="/about/" class="profile-more">了解更多 →</a>
    </div>
</section>