<a href="{{ .Permalink }}" class="bookshelf-card"
   {{ $image := partial "helper/image" (dict "Image" .Params.image "Resources" .Resources "Context" .) }}
   {{ if $image }}style="background-image: url('{{ $image.Permalink }}');"{{ end }}>
    <div class="bookshelf-card__overlay"></div>
    <div class="bookshelf-card__info">
        <h2 class="bookshelf-card__title">{{ .Title }}</h2>
        <p class="bookshelf-card__date">{{ .Date.Format "2006/01/02" }}</p>
        {{ with .Description }}
            <p class="bookshelf-card__desc">{{ . }}</p>
        {{ end }}
    </div>
</a>