{{ define "body-class" }}
    article-page
    single-post
    {{/* 
        Enable the right sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $HasWidgetNotTOC := false -}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if ne .type "toc" -}}
            {{ $HasWidgetNotTOC = true -}}
        {{- else -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    
    {{- .Scratch.Set "hasWidget" (or $HasWidgetNotTOC (and $TOCEnabled $hasTOC)) -}}
{{ end }}

{{ define "hero" }}
    {{- $image := partial "helper/image" (dict "Image" .Params.image "Resources" .Resources "Context" .) -}}
    {{ if $image }}
    <div class="article-hero">
        {{ partial "helper/responsive-image" (dict
            "Resource" $image.Resource
            "Widths" (cond .Site.Params.ImageProcessing.Content.Enabled .Site.Params.ImageProcessing.Content.Widths nil)
            "Attributes" (dict
                "src" $image.Permalink
                "width" $image.Width
                "height" $image.Height
                "alt" (printf "Featured image of post %s" .Title)
                "loading" "lazy"
                "sizes" "100vw"
            )
        ) }}
        <div class="article-hero-overlay">
            <div class="article-hero-details">
                <h1 class="article-title">{{ .Title }}</h1>
                {{ if .Params.description }}
                <p class="article-subtitle">{{ .Params.description }}</p>
                {{ end }}
                <div class="article-hero-meta">
                    <span class="article-time--published">{{ .Date.Format "2006年1月2日" }}</span>
                    {{ if ne .Date .Lastmod }}
                    <span class="article-time--published">最後更新：{{ .Lastmod.Format "2006年1月2日" }}</span>
                    {{ end }}
                    {{ range .Params.categories }}
                    <a href="/categories/{{ . | urlize }}/" class="article-category-link">{{ . }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partial "article/components/related-content" . }}

    <!-- 分享按鈕 -->
    {{ partial "article/components/share.html" . }}
     
    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}


    {{ partialCached "article/components/photoswipe" . }}
    {{ partial "article/components/mermaid" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}{{ end}}
{{ end }}
