{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<div class="article-details">
    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>
        {{ with $Page.Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showDate := not $Page.Date.IsZero }}
    {{ $showTranslations := $Page.IsTranslated }}
    {{ $showTags := and $Page.Site.Params.Article.List.ShowTags ($Page.GetTerms "tags") $IsList }}

    <footer class="article-meta">
        {{ if $showDate }}
        <div class="inline-meta">
            {{ partial "helper/icon" "date" }}
            <time class="article-time--published" datetime='{{ $Page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{- $Page.Date | time.Format $Page.Site.Params.dateFormat.published -}}
            </time>
        </div>
        {{ end }}

        {{ if $Page.GetTerms "categories" }}
        <div class="inline-meta article-category">
            {{ range ($Page.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}

        {{ if $showTranslations }}
        <div class="inline-meta">
            {{ partial "helper/icon" "language" }}
            {{ range $Page.Translations }}
                <a href="{{ .RelPermalink }}" class="link">{{ .Language.LanguageName }}</a>
            {{ end }}
        </div>
        {{ end }}

        {{ if $showTags }}
        <div class="article-tags inline-meta">
            {{ partial "helper/icon" "tag" }}
            {{ range ($Page.GetTerms "tags") }}
                <a href="{{ .RelPermalink }}" class="link">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}
    </footer>
</div>