<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/header" (dict "Page" . "IsList" false) }}

    {{ if .Scratch.Get "TOCEnabled" }}
    <aside class="article-toc">
        <details>
            <summary>
                <div class="article-toc-title">
                    {{ partial "helper/icon" "chevron-right" }}
                    <span>{{ T "article.tableOfContents" }}</span>
                </div>
            </summary>
            <nav class="toc-nav">
                {{ partial "article/components/toc" . | safeHTML }}
            </nav>
        </details>
    </aside>

        <!-- 手機版目錄（文章開頭顯示） -->
    <aside class="article-toc mobile-toc">
        <details>
            <summary>
                <div class="article-toc-title">
                    <span>目錄</span>
                </div>
            </summary>
            <nav class="toc-nav">
                {{ partial "article/components/toc" . | safeHTML }}
            </nav>
        </details>
    </aside>
    {{ end }}

    {{ partial "article/components/content" . }}

    {{ partial "article/components/footer" . }}

    <!-- 作者簡介 -->
    <div class="author-bio">
        <img src="/img/avatar.png" alt="作者頭像" class="author-bio-avatar" />
        <div class="author-bio-info">
            <h4 class="author-bio-name">{{ .Site.Params.author.name }}</h4>
            <p class="author-bio-desc">{{ .Site.Params.author.bio }}</p>
        </div>
    </div>

    {{ if or .Params.math .Site.Params.article.math }}
    {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>